body{
    background-image: url("../images/background.jpeg");
    background-size: cover;
}
.jumbotron{
    min-width:240px;
    min-height:100vh;
    font-family: 'Luckiest Guy', cursive;
    border-radius:15px;
    display: flex;
    flex-direction:column;
    align-items:center;
    opacity: .8;
    color: black;
}

.wrap-indexes{
    opacity: .7;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.wrap-place-date{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
}
input{
    cursor: pointer;
    border-radius: 15px ;
}
img{
    width:130px;
    height:130px;
}
div #found-city{
    font-family: 'Fredericka the Great', cursive;
    color: lightcoral;
    font-size: 25px;
}
div #temperature{
    font-size: 40px;
}
#loading{
    height:50px;
    width:50px;
}
#find-input-city{
    text-align: center;
}
.hidden{
    display: none;
}
